@import './../assets/styles/globals.scss';

.category__container{
  margin: 0 auto;
  width: 160px;
  height: 175px;
  @include card;
  background-color: $color-background-card;
  transition: all 0.5s ease ;
  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease ;
  }
  
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    
  }
  figcaption {
    width: 100%;
    font-size: $letter-size-M;
    font-weight: 500;
    background-color: $color-background-primary;
    margin-top: -10px;
    padding: 8px ;
    color: $color-letter-secondary;
  }
}