@import './../assets/styles/globals.scss';

.menu__container {
  width: 20vw;
  min-width: 240px;
  height: 100vh;
  color: $color-letter-primary;
  background-color: $color-background-primary;
  
  .menu__logo,
  .menu__title,
  .menu__links {
    padding: 20px;
  }
  .menu__title {
    position: relative;
    font-size: $letter-size-XL;
    font-weight: 600;
    &::before {
      content: '';
      position: absolute;
      left: 50px;
      right: 50px;
      bottom: 5px;
      height: 3px;
      background-color: $color-background-secundary;

    }
  }
  
  .menu__links {
    
    li {
      width: 50%;
      margin: 5px auto;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 4px 22px;

      img {
        width: 27px;
      }

      a, button{
        display: block;
        text-decoration: none;
        padding: 10px;
        font-size: $letter-size-L;
        color: $color-letter-secondary;
        font-weight: 500;
      }

      button {
        border: none;
        background: none;
      }

      &:hover {
        border-radius: 15px;
        background-color: $color-background-secundary;
      }
      
    }

    .selected {
      border-radius: 15px;
      background-color: $color-background-secundary;
    }
  }
}

@media (max-width: 680px) {
  .menu__container {
    width: 100vw;
    position: absolute;
    z-index: 3;
    transform: translate(-100vw);
    transition: all 0.5s ease;
    
    .menu__logo {
      width: 150px;
      margin: 0 auto;
      overflow: hidden;
    }
  }
  
  .visible{
    transform: translate(0px);
    transition: all 0.5s ease;
  }
}