$color-background-primary: #261b5a;
$color-background-secundary: #20d3b5;
$color-letter-primary:#a3fff3;
$color-letter-secondary:#f5fffe;
$color-dark-letter-primary:#1c339b;
$letter-font-primary: 'Ubuntu', sans-serif;
$letter-size-XXL: 32px;
$letter-size-XL: 24px;
$letter-size-L: 18px;
$letter-size-M: 18px;
$letter-size-s: 14px;
$letter-size-xs: 11px;